*

# Allow terraform
!*.tf

# Allow terraform modules
!modules

## EC2 Module
!modules/ec2-secure
!modules/ec2-secure/*.tf

## Key Pair Module
!modules/key-pair
!modules/key-pair/*.tf

## ECR Module
!modules/ecr
!modules/ecr/*.tf

# Allow misc files
!.gitignore
!LICENSE
!README.MD